div {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;

    h1, h2 {
        color: blueviolet;
    }

    button {
        color: #e42121;
        background-color: pink;
    }

    img {
        height: 40vh;
    }
}