.egyutt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;

    .days {
        font-size: xx-large;
    font-family: 'Protest Riot';
    color: blueviolet;
    text-align: center;
    }
}